In [1]:
# https://amano-tec.com/data/download.php

# やりたいこと  
- 国の座標データをメインデータ(data_covid_fix_name_code)にmerge

In [2]:
import pandas as pd

### データの読み込み

In [3]:
# 国の座標データ
df_code2 = pd.read_excel("../data/country_coordinates/h3104world_sjis.xls")

# メインデータ
df = pd.read_csv("../data/data_covid_fix_name_code.csv")

In [4]:
df_code2.head()

,country_code\tname_jp\tname_jps\tcapital_jp\tname_en\tname_ens\tcapital_en\tlat\tlon,Unnamed: 1
0,AD\tアンドラ公国\tアンドラ\tアンドララベラ\tPrincipality of And...,NaN
1,AE\tアラブ首長国連邦\tアラブ首長国連邦\tアブダビ\tUnited Arab Emir...,NaN
2,AF\tアフガニスタン・イスラム共和国\tアフガニスタン\tカブール\tIslamic Re...,NaN
3,AG\tアンティグア・バーブーダ\tアンティグア・バーブーダ\tセントジョンズ\tAntig...,NaN
4,AL\tアルバニア共和国\tアルバニア\tティラナ\tRepublic of Albania...,NaN

### 表記ゆれの修正・欠損の補間

In [5]:
df_code2 = df_code2.iloc[:,0].str.split("\t", expand=True)
df_code2.columns = ["code", "country_jp", "country_jps", "capital_jp", "country_en", "country", "capital_en", "lat", "lon"]

In [6]:
# 表記ゆれの修正
df_code2["country"] = df_code2["country"].replace("United Kingdom", "UK")
df_code2["country"] = df_code2["country"].replace("United States", "USA")
df_code2["country"] = df_code2["country"].replace("Viet Nam", "Vietnam")
df_code2["country"] = df_code2["country"].replace("Trinidad and Tobago", "Tobago")
df_code2["country"] = df_code2["country"].replace("Cabo Verde", "Cape Verde")
df_code2["country"] = df_code2["country"].replace("Central African", "Central African Republic")
df_code2["country"] = df_code2["country"].replace("North Macedonia", "Macedonia")
df_code2["country"] = df_code2["country"].replace("East Timor", "Timor-Leste")
df_code2["country"] = df_code2["country"].replace("UAE", "United Arab Emirates")

df_code2.loc[df_code2["country_en"] =="Democratic Republic of the Congo", "country"] = "Democratic Republic of the Congo"
df_code2.loc[df_code2["country_en"] =="Republic of Congo", "country"] = "Congo"

In [7]:
# アメリカ
df_code2.loc[df_code2["country"]=="USA", "lat"] = 38.9071923
df_code2.loc[df_code2["country"]=="USA", "lon"] = -77.0368707

# Congo(Congo, Republic of the)
df_code2.loc[df_code2["country"]=="Congo", "lat"] = -4.2633597
df_code2.loc[df_code2["country"]=="Congo", "lon"] = 15.2428853

# Democratic Republic of the Congo(Congo, DR)
df_code2.loc[df_code2["country"]=="Democratic Republic of the Congo", "lat"] = -4.4419311
df_code2.loc[df_code2["country"]=="Democratic Republic of the Congo", "lon"] = 15.2662931

In [8]:
del df_code2["country_jp"], df_code2["country_jps"], df_code2["capital_jp"], df_code2["country_en"], df_code2["capital_en"]

### merge

In [9]:
df= pd.merge(df, df_code2, how="left", on="country")

In [10]:
df = df.rename(columns = {"code_x":"code3", "code_y":"code2"})

In [11]:
df.to_csv("../data/data_covid_fix_name_code_coordinate.csv", index = False)