In [1]:
library(survival)
library(MASS)
library(openxlsx)
library(corrplot)
library(rworldmap)
library(RColorBrewer)

Warning message:
“package ‘survival’ was built under R version 3.6.2”
corrplot 0.84 loaded

Loading required package: sp

### Welcome to rworldmap ###

For a short introduction type : 	 vignette('rworldmap')

In [2]:
library(psych)

In [3]:
# 警告メッセージ非表示
options(warn=-1)

In [4]:
df <- read.xlsx("../../data/data_covid_fix_name.xlsx")
df <- na.omit(df)
head(df)

  country   pop      urb    gdp       dist     hf   pf       ef   date_first
1 Albania    2866376 60.319 13364.155  6996524 7.84 8.005411 7.67 70
2 Algeria   42228429 72.629 15481.788  9108277 4.99 5.201489 4.77 58
3 Angola    30809762 65.514  6452.355 10490120 5.40 5.979936 4.83 83
4 Argentina 44494502 91.870 20610.569 19025624 6.86 8.044600 5.67 65
6 Australia 24992369 86.012 51663.365  7608913 8.62 9.160533 8.07 26
7 Austria    8847037 58.297 55454.689  7103537 8.48 9.245685 7.71 58
  detection status cumul  air
1 74.3      1      108641   303.14
2 12.0      1       80272  6442.44
3 17.9      1      303691    76.94
4 74.9      1       92122  1516.63
6 97.3      1        1347 75667.65
7 73.2      1       80272 12935.50