In [144]:
import pandas as pd
import numpy as np
import plotly.express as px

In [162]:
df = pd.read_excel("../data/data_covid_fix_name.xlsx")

In [163]:
# 国名の略称を名寄せするためのdata frame
df_gdp = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')
df_gdp = df_gdp[["COUNTRY", "CODE"]]
df_gdp.columns = ["country", "code"]

In [164]:
# dfの表記に統一
df_gdp["country"] = df_gdp["country"].replace("Bahamas, The", "Bahamas")
df_gdp["country"] = df_gdp["country"].replace("Cabo Verde", "Cape Verde")
df_gdp["country"] = df_gdp["country"].replace("Congo, Republic of the", "Congo")
df_gdp["country"] = df_gdp["country"].replace("Congo, Democratic Republic of the", "Democratic Republic of the Congo")
df_gdp["country"] = df_gdp["country"].replace("Gambia, The", "Gambia")
df_gdp["country"] = df_gdp["country"].replace("Cote d'Ivoire", "Ivory Coast")
df_gdp["country"] = df_gdp["country"].replace("Burma", "Myanmar")
df_gdp["country"] = df_gdp["country"].replace("Trinidad and Tobago", "Tobago")
df_gdp["country"] = df_gdp["country"].replace("United Kingdom", "UK")
df_gdp["country"] = df_gdp["country"].replace("United States", "USA")
df_gdp["country"] = df_gdp["country"].replace("Korea, South", "South Korea")

In [165]:
df = pd.merge(df, df_gdp,on = "country", how="left")

In [166]:
df

,country,pop,urb,gdp,dist,hf,pf,ef,date_first,detection,status,cumul,air,code
0,Albania,2866376,60.319,13364.155397,6.996524e+06,7.84,8.005411,7.67,70,74.3,1,108641,303.14,ALB
1,Algeria,42228429,72.629,15481.787620,9.108277e+06,4.99,5.201489,4.77,58,12.0,1,80272,6442.44,DZA
2,Angola,30809762,65.514,6452.355165,1.049012e+07,5.40,5.979936,4.83,83,17.9,1,303691,76.94,AGO
3,Argentina,44494502,91.870,20610.568550,1.902562e+07,6.86,8.044600,5.67,65,74.9,1,92122,1516.63,ARG
4,Armenia,2951776,63.149,10343.175590,5.064044e+06,7.42,7.145017,7.70,62,60.8,1,86276,NaN,ARM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Venezuela,28870195,88.208,18102.500000,1.505807e+07,3.80,5.027017,2.58,76,8.7,1,153747,2137.77,VEN
151,Vietnam,95540395,35.919,7447.814334,2.220676e+06,6.29,6.310973,6.27,25,57.4,1,896,47049.67,VNM
152,Yemen,28498687,36.642,2575.126385,5.972543e+06,4.30,2.750150,5.84,102,9.0,1,1557188,336.31,YEM
153,Zambia,17351822,43.521,4223.906936,9.685537e+06,6.49,6.133478,6.84,80,21.9,1,211995,8.90,ZMB
154,Zimbabwe,14439018,32.209,3029.793005,9.898131e+06,5.65,5.608024,5.69,82,65.6,1,269677,282.54,ZWE

In [183]:
# 102
max_date = max(df.date_first)
# 14
min_date = min(df.date_first)
# カラムの長さの決定(値が全部0の列があると後々map作成時に色塗りができない)
len_col = max_date - min_date +1
# 155×89の行列の生成
date_first_matrix = np.zeros((155, len_col))

In [184]:
date_first_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [185]:
date_first_matrix.shape[0]

155

In [186]:
for i in range(date_first_matrix.shape[0]):
    i_date_first = df.iloc[i]["date_first"]
    date_first_matrix[i,( i_date_first - min_date +1) : date_first_matrix.shape[1]] = i_date_first

In [187]:
date_first_matrix

array([[ 0.,  0.,  0., ..., 70., 70., 70.],
       [ 0.,  0.,  0., ..., 58., 58., 58.],
       [ 0.,  0.,  0., ..., 83., 83., 83.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 80., 80., 80.],
       [ 0.,  0.,  0., ..., 82., 82., 82.]])

In [194]:
# 地図で0のところを白にするために
date_first_matrix[date_first_matrix==0] =np.nan

In [195]:
days = pd.date_range("2020-01-13", periods=89, freq="D")
days = days.astype("str")

In [232]:
df_date_first = pd.DataFrame(date_first_matrix)
df_date_first.columns = days
df_date_first["code"] = df["code"]
#df_date_first["country"] = df["country"]

In [233]:
df_date_first

,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,2020-01-21,2020-01-22,...,2020-04-02,2020-04-03,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0,ALB
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0,DZA
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,AGO
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,65.0,65.0,65.0,65.0,65.0,65.0,65.0,65.0,ARG
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.0,62.0,62.0,62.0,62.0,62.0,62.0,62.0,62.0,ARM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,76.0,76.0,76.0,76.0,76.0,76.0,76.0,76.0,VEN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,VNM
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YEM
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,ZMB
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,82.0,82.0,82.0,82.0,82.0,82.0,82.0,82.0,ZWE

In [234]:
# データの変形
df_date_first = pd.melt(df_date_first, id_vars="code")
df_date_first

      code    variable  value
0      ALB  2020-01-13    NaN
1      DZA  2020-01-13    NaN
2      AGO  2020-01-13    NaN
3      ARG  2020-01-13    NaN
4      ARM  2020-01-13    NaN
...    ...         ...    ...
13790  VEN  2020-04-10   76.0
13791  VNM  2020-04-10   25.0
13792  YEM  2020-04-10    NaN
13793  ZMB  2020-04-10   80.0
13794  ZWE  2020-04-10   82.0

[13795 rows x 3 columns]

In [235]:
# 国名をmerge(mapのhover_name用)
df_date_first = pd.merge(df_date_first, df[["code", "country"]], on = "code", how = "left")
df_date_first = df_date_first.rename(columns = {"value":"Days until the first infection occurs"})
df_date_first

      code    variable  Days until the first infection occurs    country
0      ALB  2020-01-13                                    NaN    Albania
1      DZA  2020-01-13                                    NaN    Algeria
2      AGO  2020-01-13                                    NaN     Angola
3      ARG  2020-01-13                                    NaN  Argentina
4      ARM  2020-01-13                                    NaN    Armenia
...    ...         ...                                    ...        ...
13790  VEN  2020-04-10                                   76.0  Venezuela
13791  VNM  2020-04-10                                   25.0    Vietnam
13792  YEM  2020-04-10                                    NaN      Yemen
13793  ZMB  2020-04-10                                   80.0     Zambia
13794  ZWE  2020-04-10                                   82.0   Zimbabwe

[13795 rows x 4 columns]

In [236]:
anime_first_case = px.choropleth(df_date_first,
                                 locations="code",
                                 color='value',
                                 hover_name="country",
                                 range_color=[0,102],
                                 animation_frame='variable',
                                 #projection="natural earth",
                                 color_continuous_scale=list(reversed(px.colors.sequential.OrRd)),
                                )
anime_first_case.show()

ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['code', 'variable', 'Days until the first infection occurs', 'country'] but received: value