In [9]:
import scipy as sp
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

In [10]:
# E-step
def EStep(k_size, data_x, lambda_vec, mu_vec, sigma2_vec):
    '''
    data_x[i]
    lambda[k]
    mu[k]
    sigma[k]
    '''
    I = len(data_x)
    # 中身を初期化せずに配列を作成する関数である。
    # 2行, 1000列の配列を生成
    responsibility = sp.empty((k_size, I))
    
    for k in sp.arange(k_size):
        norm = stats.norm(loc=mu_vec[k], scale=sp.sqrt(sigma2_vec[k]))
        responsibility[k] = norm.pdf(data_x)

    responsibility = responsibility / sp.sum(responsibility, axis=0)
    return responsibility

def MStep(k_size, responsibility, data_x):

    lambda_vec = sp.empty(k_size)
    mu_vec = sp.empty(k_size)
    sigma2_vec = sp.empty(k_size)

    for k in sp.arange(k_size):
        r_k = responsibility[k]
        #lambda_vec[k] = sp.sum(r_k) / sp.sum(responsibility)
        lambda_vec[k] = sp.sum(r_k) / responsibility.shape[1]
        mu_vec[k] = sp.sum(r_k * data_x) / sp.sum(r_k)
        mu_vec[k] = sp.sum(r_k * data_x) / sp.sum(r_k)
        sigma2_vec[k] = sp.sum(r_k * (data_x - mu_vec[k])**2) / sp.sum(r_k)

    return lambda_vec, mu_vec, sigma2_vec

In [11]:
def calc_mix_pdf(k_size, x, lambda_vec, mu_vec, sigma2_vec):
    pdf = sp.zeros_like(x)

    for k in sp.arange(k_size):
        norm_k = stats.norm(loc=mu_vec[k], scale=sp.sqrt(sigma2_vec[k]))
        
        # pdf (Probability density function) 確率密度関数
        # xのときの値を取得
        pdf += lambda_vec[k] * norm_k.pdf(x)
    return pdf

# データの作成

In [12]:
df = pd.read_excel("../../data/data_covid_fix_name.xlsx")
df = df.dropna().reset_index(drop=True)

In [13]:
df.head()

,country,pop,urb,gdp,dist,hf,pf,ef,date_first,detection,status,cumul,air
0,Albania,2866376,60.319,13364.155397,6.996524e+06,7.84,8.005411,7.67,70,74.3,1,108641,303.14
1,Algeria,42228429,72.629,15481.787620,9.108277e+06,4.99,5.201489,4.77,58,12.0,1,80272,6442.44
2,Angola,30809762,65.514,6452.355165,1.049012e+07,5.40,5.979936,4.83,83,17.9,1,303691,76.94
3,Argentina,44494502,91.870,20610.568550,1.902562e+07,6.86,8.044600,5.67,65,74.9,1,92122,1516.63
4,Australia,24992369,86.012,51663.365095,7.608913e+06,8.62,9.160533,8.07,26,97.3,1,1347,75667.65

In [21]:
y=df["date_first"].values
X = df[["hf", "pop", "urb", "dist", "air"]].values
X = np.insert(X, 0, 1, axis=1)
#X = np.log(X)
pd.DataFrame(X, columns=["切片", "hf", "pop", "urb", "dist", "air"])

      切片    hf         pop     urb          dist       air
0    1.0  7.84   2866376.0  60.319  6.996524e+06    303.14
1    1.0  4.99  42228429.0  72.629  9.108277e+06   6442.44
2    1.0  5.40  30809762.0  65.514  1.049012e+07     76.94
3    1.0  6.86  44494502.0  91.870  1.902562e+07   1516.63
4    1.0  8.62  24992369.0  86.012  7.608913e+06  75667.65
..   ...   ...         ...     ...           ...       ...
145  1.0  3.80  28870195.0  88.208  1.505807e+07   2137.77
146  1.0  6.29  95540395.0  35.919  2.220676e+06  47049.67
147  1.0  4.30  28498687.0  36.642  5.972543e+06    336.31
148  1.0  6.49  17351822.0  43.521  9.685537e+06      8.90
149  1.0  5.65  14439018.0  32.209  9.898131e+06    282.54

[150 rows x 6 columns]

In [22]:
y

array([ 70,  58,  83,  65,  26,  58,  61,  77,  56,  70,  60,  36,  85,
        78,  67,  73,  67,  93,  58,  71,  69,  72,  93,  29,  68,  27,
        82,  77,  81,  65,  68,  77,  68,  73,  58,  71,  63,  72,  59,
        63,  62,  47,  80,  60,  75,  81,  31,  26,  74,  79,  59,  29,
        74,  59,  76,  75,  88,  74,  73,  66,  61,  31,  63,  52,  57,
        62,  54,  32,  73,  16,  64,  76,  75,  56,  80,  86,  64,  54,
        78,  86,  60,  62,  82,  95,  26,  69,  76,  81,  61,  69,  71,
        79,  64,  84,  78,  76,  26,  60,  60,  80,  82,  60,  59,  59,
        57,  59,  71,  82,  69,  68,  31,  65,  64,  62,  59,  64,  76,
        64,  64,  68,  76,  93,  25,  68,  66,  67,  21,  33,  29,  75,
        76,  33,  58,  14,  68,  74,  64,  73,  83,  65,  28,  32,  78,
        22,  76,  76,  25, 102,  80,  82])